project:
  type: website
  output-dir: docs

website:
  title: "Samsthithaa M K P"
  navbar:
    left:
      - text: Home
        href: index.qmd
      - text: Projects
        href: projects.qmd
      - text: About
        href: about.qmd
      - text: Contact
        href: about.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true


editor: visual

